@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

body{
    margin: auto 0;
    max-width: 360px;
    background-color: #222;
    font-family: 'Roboto', sans-serif;
}

#title {
    text-align: center;
    background-color: wheat;
    position: fixed;
    top: 0;
    width: 100%;
}

.dog{
    width: 100%;
    position: fixed;
    top: 23%;
}

nav{
    background-color: wheat;
    overflow: hidden;
    position: fixed;
    padding: 0;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
}

ul{
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

li{
    text-align: center;
}

a{
    color: black;
}

a:hover{
    color: #eee;
}

#info{
    border: 2px solid #fff;
    background-color: #eee;
    margin: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 23%;
    width: 93%;
}

article{
    padding-left: 10px;
    padding-right: 10px;
}